{% doc %}
  Renders a product-card block.
  Uses placeholder content for now
{% enddoc %}

<div class="product">
  <div class="image">
    <img src="{{ 'shoppy-x-ray.svg' | asset_url }}" width="300" height="300">
    <div class="badge-sale">
      <p>On Sale!</p>
    </div>
  </div>
  <div class="info">
    <div class="variant-swatches">
      {% for i in (1..6) %}
        <label class="variant-swatch swatch-{{ i }}">
          <input
            type="radio"
            name="id"
            value="swatch-{{ i }}"
            class="variant-swatch-input"
            {% if forloop.first %}checked{% endif %}
          >
          <span class="variant-swatch-title">Variant {{ i }}</span>
        </label>
      {% endfor %}
    </div>
    <h3 class="product-brand">Good Brand Company</h3>
    <h3 class="product-name">Plain T-Shirt</h3>
    <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit doloribus voluptatum quas obcaecati assumenda incidunt odit, voluptatibus eligendi praesentium cumque recusandae. Sunt, in iure. Eos ut fuga non dolorum laudantium.</p>
    <div class="price">
      <span class="original">$29.50</span>
      <span class="discounted">$20.00</span>
      <span class="discount">32% off!</span>
    </div>
  </div>
</div>

{% stylesheet %}

{% endstylesheet %}

{% schema %}
{
  "name": "Product Card",
  "settings": [
  ],
  "presets": [
    { "name": "Product Card" }
  ]
}
{% endschema %}